body {
    font-family: monospace;
    color: #b0b0b0;
    background-color: #101010;
}

img {
    border: 0;
}

div.header {
    margin-left: 15%;
    margin-right: 15%;
    display: inline-block;
    height: 20%;
}